$bg-color: rgb(69, 59, 116);
$border-color: rgba(89, 59, 225, 0.523);

.about-heading {
  display: flex;
  flex-direction: row;
  height: 15vh;
  width: 100%;
  background-color: $bg-color;
  border-bottom: 3px solid $border-color;
  padding: 50px;
}

.about-title {
  display: flex;
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  min-width: 500px;
  text-align: left;
  letter-spacing: 0.1rem;
}

.about-heading-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.about-heading-button-container button {
  margin: 0px 10px;
  padding: 20px 25px;
  border: none;
  border-radius: 5px;
  background-color: #2000575e;
  font-size: 1rem;
}

.about-heading-button-container button:hover {
  background-color: #200057;
}

.about-body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 88vh;
  width: 100%;
  background-color: $bg-color;
  padding: 5px;
}

// .about-container-outer {
//     // background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
//  border-radius: 20px;
//  transition: all 0.2s;
// }

.about-container {
  display: flex;
  margin: 22px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px 7px 0 0;


  border: 5px solid linear-gradient(163deg, #9e2caf 0%, #bb3471 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 50px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 26px -18px inset;
}

.about-container:hover {
    transform: scale(0.98);
    border-radius: 20px;
    animation: shadow-animation 3s infinite alternate;
}
@keyframes shadow-animation {
    0% {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 30px 1px
    }
    25% {
      box-shadow: #ff00ff 0px 0px 30px 1px
    }
    50% {
      box-shadow: #ff69b4 0px 0px 30px 1px
    }
    75% {
      box-shadow: #ff1493 0px 0px 30px 1px
    }
    100% {
      box-shadow: #b434bb 0px 0px 30px 1px
    }
  }

.divider {
  padding: 2px;
}

.skill-text {
  font-family: "Rampart One";
}

.skill-icons-container {
  display: flex;
  flex-direction: column;
  //   grid-template-columns: 100px 50px 100px;
  //   grid-template-rows: 80px auto 80px;
  //   column-gap: 10px;
  //   row-gap: 20px;
  //   border: 1px solid black;
  padding: 15px;
}

.skill-icons-container > h2 {
  color: #bababa;
}

.skill-icon:hover {
  color: #a8a8aa;
  transform: scale(1.1) 0.5s;
}

.custom-hidden {
  opacity: 0;
}
