.end-tools-container{
  position: absolute;
  left: 31.6%;
  top: 20%;
  text-align: center;
}

.end-tools-title{
  color: #bababa;

}

.end-tools-inner-container{
  padding: 2px;
}

.end-body {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.end-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.end-inner {
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.end-text {
  font-weight: 600;
  font-size: 5rem;
  color: #d2d2d2;
}
.dud {
  color: #757575;
}

// end-text as a component

.end-text-component {
  font-size: 2rem;
  color: #d2d2d2;
}
