$bg-color: rgb(69, 59, 116);

.swiper {
  height: 80%;
  width: 80%;
  background-color: $bg-color;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border-radius: 17px;
}

.swiper-slide img {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 5px;
  height: 75%;
  width: 99.5%;
  border-radius: 17px;
  object-fit: fill;
}

.image-carousel-text {
  padding-top: 10px;
  font-size: 2rem;
  color: #d2d2d2;
  font-weight: 600;
  margin-bottom: 20px;
}
